<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1014972621291-tm6h296gjftrqk3v0ovbq9l9e4f057a5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014972621291-tm6h296gjftrqk3v0ovbq9l9e4f057a5</string>
	<key>API_KEY</key>
	<string>AIzaSyDUH3QOaF0Uy3jh8wpLY01OvoteGOg6bo4</string>
	<key>GCM_SENDER_ID</key>
	<string>1014972621291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dixonlamond.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-43b78</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-43b78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014972621291:ios:0a2b14d2338f42fc</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-43b78.firebaseio.com</string>
</dict>
</plist>